* {
  height: 100vh;
  background: #171b24;
  padding: 25px;
  transition: 0.4s;
  overflow-y: auto;
  z-index: 999;
}

.cart.active {
  right: 0;
}

.cart ul {
  list-style: none;
  margin: 20px 0;
}

.cart li {
  margin-bottom: 10px;
  padding: 10px;
  background: #222938;
  border-radius: 10px;
}

.buy-btn {
  display: block;
  background: #25D366;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 28px;
}

footer {
  padding: 30px;
  text-align: center;
  color: #9ca3af;
}

@media(max-width: 768px) {
  .hero h2 {
    font-size: 38px;
  }

  .products {
    padding: 20px;
  }

  .cart {
    width: 100%;
  }
}